<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Farhan | Schedules</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Pretty-Registration-Form.css' %}">
    <style>
    .bikin{color: black;
    text-align: left;}
    img{
    width:50px; height:50px;
}
        </style>
</head>

<body id="page-top" style="color: rgba(255,255,255,0);">
    <nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg fixed-top" id="mainNav" style="color: #ffffff;padding-bottom: 12px;">
        <div>
            <a href="/"><img src="https://i.ibb.co/wy0RbCt/home.png" title="Home Page" alt="home"></a>
        </div>
    </nav>
    <header class="masthead" style="background-image:url(https://i.ibb.co/ZJGvBJz/sc.png);">
        <div class="intro-body">
            <!-- Start: Pretty Registration Form -->
            <div class="row register-form">
                <div class="col">
                        <h1 style="color: rgb(0, 0, 0);">Schedule Form</h1>
                    <form class="bikin" action="{% url 'schedule_create' %}" method="post">
                        
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-sm-1"></div>
                            <div class="form-group col-sm-10">
                                {% for fields in form %}
                                    {{ fields.label_tag }}
                                    <br>
                                    {{ fields }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-1"></div>
                            <input type="submit" class="btn btn-primary float-right" value="Add">
                        </div>
                        <!-- <div class="form-row form-group">
                            <div class="col-sm-4 label-column" style="color: rgb(0, 0, 0);"><label class="col-form-label" for="activity-input-field" style="margin: 0px;padding: 8px;padding-top: 8px;padding-right: 21px;">Activity </label></div>
                            <div class="col-sm-6 input-column"><input class="form-control" type="text"></div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col-sm-4 label-column"><label class="col-form-label" for="date-input-field" style="color:rgb(0, 0, 0);padding-top: 8px;padding-right: 21px;">Date </label></div>
                            <div class="col-sm-6 input-column"><input class="form-control" type="date"></div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col-sm-4 label-column"><label class="col-form-label" for="time-input-field" style="color: rgb(0, 0, 0);padding-top: 8px;padding-right: 18px;">Time </label></div>
                            <div class="col-sm-6 input-column"><input class="form-control" type="time"></div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col-sm-4 label-column"><label class="col-form-label" for="place-input-field" style="color: rgb(0, 0, 0);padding-top: 8px;padding-right: 18px;">Place </label></div>
                            <div class="col-sm-6 input-column"><input class="form-control" type="text"></div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col-sm-4 label-column"><label class="col-form-label" for="category-input-field" style="color: rgb(0, 0, 0);padding-top: 8px;padding-right: 18px;">Category </label></div>
                            <div class="col-sm-6 input-column"><input class="form-control" type="text"></div> 
                        </div class="form-row form-group">
                            <div class="col-sm-13"><button class="btn btn-light submit-button" type="button" disabled="disabled">Submit</button></div>
                        </div> -->
                    </form>                                            
                </div>
            </div>
            <!-- End: Pretty Registration Form -->
        </div>
        <!-- <div class="container">
                <p3><br>Experiences.<br><br></p3>
                <form class="bikin" action="{% url 'schedule_create' %}" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-sm-1"></div>
                        <div class="form-group col-sm-10">
                            {% for fields in form %}
                                {{ fields.label_tag }}
                                <br>
                                {{ fields }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-1"></div>
                        <input type="submit" class="btn btn-primary float-right" value="Add">
                    </div> -->
        
    </header>
</body>


</html>