<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Farhan | Schedules</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url(https://i.ibb.co/ZJGvBJz/sc.png)">

<div class="container" >
    <div class="row">
      <div class="col-md-12">
        <h2>SCHEDULES</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-md-11">

        </div>
        <div class="col-md-1">
            <a href="/"><img src="https://i.ibb.co/wy0RbCt/home.png" title="Home Page" alt="home"></a>
        </div>
    </div>
    <div class="table-responsive">          
      <table class="table">
        <thead>
          <tr>
            <th>Activity</th>
            <th>Date</th>
            <th>Time</th>
            <th>Place</th>
            <th>Category</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
            {% for schedule in schedules %}
            <tr>
              <td><p6>{{ schedule.activity }}</p6></td>
              <td><p6>{{ schedule.date.date }}</p6></td>
              <td><p6>{{ schedule.time }}</p6></td>
              <td><p6>{{ schedule.place }}</p6></td>
              <td><p6>{{ schedule.category }}</p6></td>
              <td><a href="{%  url 'delete' schedule.id %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Delete</button></a></td>
            </tr>
            {% endfor %}

        </tbody>
      </table>
    </div>
    <div class = 'col-md-12'>
      <div class = 'form-group'>
          <a href="{% url 'schedule_delete' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Clear</button></a>
          <a href="{% url 'schedule_create' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>
    </div>
</div>


</body>
</html>
<style>
h2{
  text-align: center;
  margin-top: 10%;
}
img{
  width:50px; height:50px;

}

</style>

