nav{
    width: 100%;
    
}
li{
    float: left;
    margin-right: auto;
    margin-left: auto;
}
ul{
    width: fit-content;
    margin: auto;
    list-style: none;
    padding-top: 35px;
}

a{
    padding-right: 50px;
    display: block;
    text-decoration: none;
    color: black;
}
.sosmed{
    width:100%;
    position: absolute;
    bottom:0;
    margin-bottom: 5%;
}
.logo{
    width:23px; 
    height:23px;
}
.btn{
    border: transparent;
    background-color: white;
    color: black;
    margin-right: 50px;
    font-size: 20px;
}
h1{
    font-family: "Century Gothic";
    margin: 0px;
    text-align: center;
    padding: 30px;
}
img{
    width: 190px;
    height: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5%;
}
@media only screen and (max-width:375px){
    nav{
        width: 100%;
        
    }
    li{
        float: left;
        margin-right: auto;
        margin-left: auto;
    }
    ul{
        width: fit-content;
        margin: auto;
        list-style: none;
        padding-top: 35px;
    }
    
    a{
        padding-right: 50px;
        display: block;
        text-decoration: none;
        color: black;
    }
    .sosmed{
        width:100%;
        position: absolute;
        bottom:0;
        margin-bottom: 5%;
    }
    .logo{
        width:20px; 
        height:20px;
    }
    .btn{
        border: transparent;
        background-color: white;
        color: black;
        margin-left: 29px;
        margin-top: 15px;
        font-size: 15px;
    }
    /* .btnCr{
        border: transparent;
        background-color: white;
        color: black;
        margin-right: 50px;
        font-size: 15px;
        margin-left: 100px;
        margin-top: 15px; */
    }
    h1{
        font-family: "Century Gothic";
        font-size: 30px;
        margin: 0px;
        text-align: center;
        padding: 30px;
    }
    img{
        width: 150px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 5%;
    }
}
